<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title">
                <i class="fa fa-paw"></i>
                <span>ddp</span>
            </a>
        </div>
        <div class="clearfix"></div>

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li>
                        <a href="/page">
                            <i class="fa fa-home"></i>
                            主页
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-line-chart"></i>
                            TAB1
                            <span class="fa fa-chevron-down"></span>
                        </a>

                        <ul class="nav child_menu" style="display: none">
                            <li><a href="/page/analyze/charts">TAB11</a></li>
                            <li><a href="/page/analyze/over">TAB12</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-gears"></i>
                            TAB2
                            <span class="fa fa-chevron-down"></span>
                        </a>

                        <ul class="nav child_menu" style="display: none">
                            <li><a href="/page/status/system">TAB21</a>
                            </li>
                            <li><a href="/page/status/process">TAB22</a>
                            </li>
                            <li><a href="/page/status/capacity">TAB23</a>
                            </li>
                        </ul>
                    </li>
                        <li>
                            <a href="/page/warn">
                                <i class="fa fa-bar-chart-o"></i>
                                报警
                            </a>
                        </li>
                    <li>
                        <a href="/faq">
                            <i class="fa fa-question-circle"></i>
                            FAQ
                        </a>
                    </li>
                    <li>
                        <a href="/contact">
                            <i class="fa fa-inbox"></i>
                            联系我们
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
